@model CI.Models.UserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/login.css">

   
</head>
<body>
    <div>
        @if (TempData["Done"] != null)
        {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">

                
                toastr.success('@TempData["Done"]');


            </script>
        }   <div>
            @if (TempData["Passs change"] != null)
            {
                <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                <script type="text/javascript">


                    toastr.success('@TempData["Passs change"]');


                </script>
            }
        </div>
    </div>
    <div class="container-fluid maindiv p-0">
        <div class="row loginrow ">
          <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12    " >
            <div id="carouselExampleCaptions" class="carousel slide me-0"  data-bs-ride="carousel" data-bs-interval="1000" >
                 <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div> 
                    <div class="carousel-inner  ">
             
                        @foreach (var banner in ViewBag.firstBanner)
                        {
                            <div class="carousel-item   active" data-bs-interval="5000">
                                <img src="@banner.Image" class="d-block w-100 carousel-img object-fit-none border rounded"  alt="...">
                                <div class="carousel-caption d-none d-md-block ">
                                    <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
                                    <p>
                                        @banner.Text
                                    </p>
                                </div>
                            </div>
                        }
                        @foreach (var banner in ViewBag.Banners)
                        {
                            <div class="carousel-item " data-bs-interval="5000">
                                <img src="@banner.Image" class="d-block w-100 carousel-img object-fit-none border rounded "  alt="...">
                                <div class="carousel-caption d-none d-md-block ">
                                    <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
                                    <p>
                                        @banner.Text
                                    </p>
                                </div>
                            </div>
                        }
                  </div>
              
        </div>

    </div>

            
               

            <div class=" sidediv col-lg-4 col-md-11 col-sm-11 col-xs-10  align-self-center  ">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <form asp-controller="Login" asp-action="Login">
                        @Html.HiddenFor(x => x.MissionId)
                        @Html.HiddenFor(x=>x.StoryId)
                            <div class="mb-3  email " >
                                <span class=" text-danger" id="Sessonerrormsg">
                                    @TempData["Sessonerrormsg"]
                                </span>
                                <div class="text-danger" id="userpasserr" >
                                    @ViewBag.Error
                                </div>
                                <label for="exampleInputEmail1" class="form-label " asp-for="Email">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" aria-describedby="emailHelp" placeholder="evan.donohue@gmail.com" onkeyup="emptyemail()">
                                <span class="text-danger " asp-validation-for="Email" ></span>
                        </div>
                        <div class="mb-3 psw">
                                <label for="exampleInputPassword1" asp-for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"  asp-for="Password" onkeyup="emptypass()">
                                <span class="text-danger" asp-validation-for="Password" ></span>
                        </div>
                        <div class="login">
                                <button type="submit" class="btn mt-3">login</button>
                        </div>
                        <div class="mb-3 mt-1 text-center ">
                          <a class="nav-link text-dark" asp-area="" asp-controller="Forget" asp-action="Forget">Forgot Password</a>
                        </div>
                       
                        <div class=" create1 mb-3 mt-1 text-center ">
                            <span>
                                Don’t have an account?
                                </span> <a class="nav-link text-dark" asp-area="Employee" asp-controller="User" asp-action="register">Create an account</a>
                        </div>
                        <div class="create2">
                            <div class="mb-3 mt-1 text-center dont ">
                                <span>
                                 Don’t have an account? 
                                </span> 
                             </div>
                             <div class="mb-3 mt-1 text-center create ">
                                    <a class="create mt-1 nave-link text-dark" asp-area="Employee" asp-controller="User" asp-action="register">Create an account</a>
                             </div>
                        </div>

                        <div class="  text-center policy ">
                           <a class="nav-link " href="/Employee/Home/Privacypolicy/"> PrivacyPolicy</a>
                        </div>
                       
                      </form>
                </div>
            </div>

               
            </div>  
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <script>

        function emptypass() {

            document.getElementById("userpasserr").style.display = "none";
        }
        function emptyemail() {

            document.getElementById("userpasserr").style.display = "none";
        }


    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

   
   
</body>
</html>