@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_navbar2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  
    <link rel="stylesheet" href="~/css/StoryDetail.css" asp-append-version="true" />
</head>
<body>
    <div class="container  storycontainer">
        <div class="row">
            <div class="leftdiv  col-12 col-lg-6 col-md-12 col-sm-12  ">

                <div class="container p-0">


                    @{
                        int num = 0;
                    }
                    @foreach (var media in ViewBag.storymedia)
                    {

                        @if (media.StoryType == "Video")
                        {
                            num++;
                            <div class="mySlides" >
                                <div class="numbertext">@num/ @ViewBag.storymediacount</div>
                                <iframe  class="img-fluid vol-page-crousel" id="vol-page-crousel"
                                        src=@media.StoryPath style="height:355px;object-fit:cover;width:100%" alt=""></iframe>

                            </div>
                        }
                        else
                        {
                            num++;
                            <div class="mySlides">
                                <div class="numbertext">@num/ @ViewBag.storymediacount</div>
                                <img src="@media.StoryPath" style="object-fit:cover;width:100%;height:355px;">
                            </div>
                        }
                    }


                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Image text -->
                    <!-- Thumbnail images -->
                    <div class="row mt-1 " style="height:100px;flex-wrap: inherit;
    overflow-x: scroll;
}">
                        @{
                            int num1 = 0;
                        }
                        @foreach (var media in ViewBag.storymedia)
                        {
                            num1++;
                            @if (media.StoryType == "Video")
                            {
                                <div class="col-6 col-lg-3 col-md-4" >
                                    <iframe src=@media.StoryPath title="W3Schools Free Online Web Tutorials" onclick="currentSlide(@num1)" style=" height:70px; overflow:hidden;width:100%"></iframe>
                                </div>
                            }
                            else
                            {
                                <div class="col-6 col-lg-3 col-md-4">
                                    <img class="demo cursor" src="@media.StoryPath" style="width:100%;height:70px" onclick="currentSlide(@num1)" alt="Northern Lights">
                                </div>
                            }
                        }

                    </div>

                </div>


            </div>
            <div class="rightdiv rounded-3  col-12 col-lg-6 col-md-12 col-sm-12 mt-4 mt-lg-0 shadow-lg ">
                @foreach (var story in ViewBag.StoryDetail)
                {
                    <div class="container  ">
                        <div class="row mt-4 mt-md-2">
                            <div class="col-3 me-auto  ">
                                <div class=" d-flex justify-content-center">
                                    @if (story.Useravtar != "")
                                    {
                                        <img src="@story.Useravtar" class="storyuserimg rounded-circle">
                                    }
                                    else
                                    {
                                        
                                    <img src="~/images/user1.png" class="storyuserimg rounded-circle">
                                    }
                                </div>
                                <label class="fs-6 d-flex justify-content-center"> @story.username &nbsp;@story.lastname</label>
                            </div>
                            <div class="col-6 col-xl-3 col-md-4 mt-auto ">
                                <div class="rounded-5 storyviewdiv d-flex justify-content-center w-100 ">
                                    @story.Storyview   Stories views
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12  fs-4  fw-bold" >
                                @story.StoryTitle

                            </div>
                        </div>
                        <div class="row justify-content-between mt-3" >
                            <button class="recom col-11 col-xl-6 col-md-5 col-lg-11 rounded-5 d-flex justify-content-center align-items-center bg-white py-2 ms-0 ms-xl-3 ms-lg-0 ms-md-3 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="~/images/add1.png">
                                <span class="ms-2">Recomanded to Co-Worker</span>
                            </button>
                            <a class="col-11 col-xl-5  col-lg-11 col-md-5  bg-white text-decoration-none mt-2  mt-xl-0 mt-lg-2 mt-md-0  mb-2 mb-md-0 p-0" href="/Employee/Volunteering/Volunteering/@ViewBag.UserId?missionid=@story.MissionId">
                                <button class="openmissionbtn    d-flex justify-content-center align-items-cente bg-white  rounded-5  py-2  w-100  ">
                                <span class="">Open Mission</span>
                                <img src="~/images/right-arrow.png" class="mt-1 ms-2">
                            </button>
                            </a>

                            <div class="modal fade  col-6" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Send Story to Friend</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body overflow-y-auto " style="height:200px;">
                                            @foreach (var user in ViewBag.allavailuser)
                                            {
                                                <div class=" userlistdiv align-items-center d-flex my-3">
                                                    @if (user.Useravtar!="")
                                                    {
                                                        <img src="@user.Useravtar" class="aviluser ms-2 my-1">
                                                    }
                                                    else
                                                    {
                                                    <img src="~/images/user1.png" class="aviluser ms-2 my-1">
                                                        
                                                    }
                                                    <label class=" ms-4  me-auto">   @user.username  @user.lastname </label>
                                                    <input class="form-check-input me-2 " type="checkbox" value="" id="@user.userEmail" name="email">
                                                </div>
                                            }
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-primary" id="sendbutton" style="border:#F88634; background-color:#F88634" onclick="sendRecomStory(@story.StoryId,@ViewBag.UserId)">Send Recomandation</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                }
            </div>
        </div>
        <div class="row mt-4  shadow-lg mb-4 rounded-3 storydescriptiondiv">
            <div class="card container">
            <div class="col-12 p-2">
                    @foreach (var story in ViewBag.StoryDetail) 
                {
                    @Html.Raw(story.StoryDescription)
                }
            </div>
            </div>
        </div>

    </div>
    <script src="~/js/StoryDetail.js"></script>
</body>
</html>