

@{
    var id = Context.Session.GetString("userID");
    var ID = Convert.ToInt64(id);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/_relatedmission_partial.css" asp-append-version="true" />
</head>
<body>

    <div class="container related ">
        <hr style="border:2px solid black;" />
        <h1 class="text-center"> Related Mission</h1>
        <div class="row ltg">
            @if (ViewBag.relatedmissioncount == 0)
            {

                <partial name="_Nomission_PartialView" />


            }
           
            else
            {

                @foreach (var items in ViewBag.relatedmission)
                {
             
                

                    <div class="missioncard col-12 col-md-6 col-lg-4">
                        <div class="card" style="height:100%; width:98%;">
                                        


                            <div class="img-event">
                                @if (items.missionmediapath != "")
                                {
                                    <img class="card-img-top missionimg" id="cardBanner"
                                    src="@items.missionmediapath" alt="Card image cap">
                                }
                                else
                                {

                                    <img class="card-img-top missionimg" id="cardBanner"
                                         src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">
                                }

                              
                                @if (id != null)
                                {


                                    <div class="appliedbtn rounded-end" style="@(@items.isApplied?  "display:block;": "display:none;")">Applied</div>
                                    <div class="pendingbtn rounded-end" style="@(@items.isPendding?  "display:block;": "display:none;")">Pendding</div>
                                }
                                <div class="closedbtn rounded-end">closed</div>
                                <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> @items.Cityname</div>

                                <div class="landing-page-bottom-right d-flex flex-column">
                                    <button class="mb-2 landing-page-btn-img" id="favmissiondiv" onclick="addtofav(@items.MissionId,@id)">

                                        <i class="bi bi-heart-fill" style="@(items.isFavriout ? "color:#F88634;" : "color:white;")" id="heart-@items.MissionId"></i>

                                    </button>


                                    <button class="landing-page-btn-img" type="button" id="@items.MissionId"  data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                        <img src="~/images/user.png" alt="">
                                    </button>

                                    <div class="modal fade  col-6" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Send Recomandation to Friend</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body overflow-y-auto " style="height:200px; ">
                                                    @foreach (var user in ViewBag.allavailuser)
                                                    {
                                                        <div class=" userlistdiv align-items-center d-flex my-3">
                                                            @if (@user.Useravtar != "")
                                                            {
                                                                <img src="@user.Useravtar" class="aviluser ms-2 my-1">
                                                            }
                                                            else
                                                            {
                                                                <img src="~/images/user1.png" class="aviluser ms-2 my-1">
                                                            }
                                                            <label class=" ms-4  me-auto">   @user.username  @user.lastname </label>
                                                            <input class="form-check-input me-2 " type="checkbox" value="" id="@user.userEmail" name="email">
                                                        </div>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="rounded-2 py-2" id="sendbtn" style="background-color:#F88634;border-color:#F88634;" onclick="sendRecomrel(@items.MissionId)">Send Recomandation</button>
                                                 @*   <button type="button" class="btn" id="sendbutton3" style="background-color:#F88634;border-color:#F88634;" onclick="sendRecomrel(@items.MissionId)">Send Recomandation</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="theme-btn ">@items.Themename</button>
                            </div>




                            <div class="card-body">
                                <h5 class="card-title mt-3">@items.Title</h5>
                                @items.MissionId
                                <p class="card-text">
                                    @items.ShortDescription
                                </p>
                                <div class="d-flex">
                                    <p class="me-auto">@items.OrganizationName</p>
                                    <div>
                                        @if (items.AvrageRating != null)
                                        {
                                            for (int i = 0; i < items.AvrageRating; i++)
                                            {
                                                <img src="~/images/selected-star.png">

                                            }
                                            for (int i = items.AvrageRating; i < 5; i++)
                                            {
                                                <img src="~/images/star.png">

                                            }
                                        }
                                    </div>
                                </div>

                          
                                @if (items.MissionType == "Time")
                                {
                                    <div class="rule d-flex mt-1">
                                        <hr>
                                        <button class="date-btn mt-1">From @items.StartDate until @items.EndDate</button>
                                        <hr>
                                    </div>
                                }
                                else
                                {
                                    <div class="rule d-flex mt-1">
                                        <hr>
                                        <button class="date-btn mt-1">@items.GoalObjectiveText</button>
                                        <hr>
                                    </div>
                                }

                                <div class="d-flex ">
                                    <div class="d-flex me-auto  col-6">
                                        <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                        <div class="ms-2 ">
                                            <fs-2>
                                                @items.Availability<fs-2>
                                                    <br>
                                                    <fs-5> seats left</fs-5>
                                        </div>
                                    </div>
                                    @if (items.MissionType == "Time")
                                    {
                                        <div class="d-flex col-6">
                                            <img src="~/images/deadline.png" alt="" class="mt-2">
                                            <div class="ms-2 ">
                                                <fs-2>@items.EndDate</fs-2><br>
                                                <fs-5>Deadline</fs-5>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex me-3 col-6">
                                            <img src="~/images/achieved.png" alt="" class="mt-2">
                                            <div class="ms-2 ">
                                                <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                                </div>
                                                <fs-5>Deadline</fs-5>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <hr>
                                <a class="text-decoration-none" href="/Employee/Volunteering/Volunteering/@id?missionId=@items.MissionId">
                                    <button type="submit" class="applybtn d-flex">
                                        <span class="applytxt">Apply</span>
                                        <div>
                                            <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                        </div>
                                    </button>
                                </a>


                            </div>

                        </div>
                    </div>


                }
                
            }


    </div>

    </div>
    <script src="~/js/_RelatedMission.js"> </script>

</body>
</html>