@{
    Layout = "_AdminSidebar";
}
@model IEnumerable< CI_Entity.ViewModel.AdminStoryVM>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    @*  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

</head>
<body>


    <div class="container-fluid mt-3">

        <div class="borderbottom"><h3 class="borderbotm mb-0 " style="width:max-content">Story</h3></div>


        <table id="example" class="table" style="width:100%;border: 1px solid #e9ecef;">
            <thead class="thead-light" style="background-color:#F8F9FC;">
                <tr>
                    <th scope="col">Story Title</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mission Title</th>
                    <th scope="col" class="d-flex justify-content-center">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var story in Model)
                {
                    <tr>
                        <th scope="row">@story.StoryTitle</th>
                        <td>@story.FirstName @story.LastName</td>
                        <td>@story.MissionTitle</td>
                        <td class="d-flex justify-content-center align-items-center ">
                            <a class="Viewbtn rounded-5 me-3  text-decoration-none px-2 " href="/Employee/StoryListing/StoryDetail/@ViewBag.UserId?storyId=@story.StoryId">View</a>
                            <i class="fa-regular fa-circle-check ms-1" onclick="ApproveStory(@story.StoryId, 'Approved')" style="color:green;"></i>
                            <i class="fa-sharp fa-regular fa-circle-xmark ms-1" onclick="ApproveStory(@story.StoryId, 'Rejected')" style="color:red;"></i>
                            <i class="fa fa-trash ms-1" onclick="deletestory(@story.StoryId)" style="color:black"></i>
                        </td>
                    </tr>
                }






            </tbody>
        </table>
    </div>
    <script>


        function deletestory(storyId) {

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this goalsheet!",
                icon: 'warning',
                width: '300',
                height: '100',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Admin/DeleteStory',
                        type: 'POST',
                        data: { storyId: storyId },

                        success: function (response) {

                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your goalsheet has been deleted.',
                                'success'
                            )
                            $('#example').html($(response).find('#example').html());
                            location.reload();


                        },
                        error: function () {
                            alert("could not comment");
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',

                    )
                }
            })





        }
        function ApproveStory(id, status) {
            $.ajax({
                url: '/Admin/Admin/ApproveStory',
                type: 'POST',
                data: { MaId: id, status: status },

                success: function (response) {

                    //document.getElementById("themeName").value = response.title;
                    $('#example').html($(response).find('#example').html());

                },
                error: function () {
                    alert("could not comment");
                }
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <link href="~/css/Adminindex.css" rel="stylesheet" asp-append-version="true" />

</body>
</html>