@model CI_Entity.ViewModel.AdminMissionViewModel
@{
    Layout = "_AdminSidebar";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>


    <div class="container-fluid mt-3">

        <div class="d-flex borderbottom justify-content-between">
            <h3 class="borderbotm mb-0">Mission</h3>
            <button class="btn mb-2 landing-page-apply-mission-btn" data-bs-toggle="modal" data-bs-target="#AdminMissionmodal">
                <i class="fa-regular fa-plus" style="color: #F88735"></i>
                Add
            </button>
        </div>
        <div class="modal fade" id="AdminMissionmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" onclick="reload()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form asp-action="AddMission" asp-controller="Admin" id="my-awesome-dropzone" method="post" class="dropzone" enctype="multipart/form-data">
                        <div class="modal-body usermodalbody overflow-y-auto">
                            <div class="container-fluid p-0">
                                <div class="row">
                                    <div class="col-12 col-lg-4  col-md-6 mb-3">
                                        <label for="title">Mission Title</label>
                                        <input asp-for="title" type="text" class="form-control" placeholder="Enter title">
                                                <span asp-validation-for="title" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label for="short description">Mission Short Description</label>
                                        <input asp-for="shortdescription" type="text" class="form-control" placeholder="Enter short description">
                                                <span asp-validation-for="shortdescription" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label for="organization name">Mission Organization Name</label>
                                        <input asp-for="organizationName" type="text" class="form-control" placeholder="Enter organization name">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="description">Mission Description</label>
                                        <textarea asp-for="editor2" name="editor2" id="editor2" class="form-control"></textarea>
                                                <span asp-validation-for="editor2" class="text-danger"></span>
                                    </div>
                                    <div class="col-12  mb-3">
                                        <label for="organization Detail">Mission Organization Detail</label>
                                        <textarea asp-for="organizationDetail" type="text" class="form-control" placeholder="Enter organization name"></textarea>
                                    </div>

                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label for="country">Country</label>

                                        <Select asp-for="countryId" class="form-control form-select">
                                            <option selected disabled>select  country</option>
                                            @foreach (var country in Model.countries)
                                            {
                                                <option value="@country.CountryId">@country.Name</option>
                                            }


                                        </Select>
                                                <span asp-validation-for="countryId" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label for="city">city</label>
                                        <Select asp-for="cityId" class="form-control form-select">
                                            <option selected disabled>select City</option>
                                            @foreach (var city in Model.cities)
                                            {
                                                <option value="@city.CityId">@city.Name</option>
                                            }
                                        </Select>
                                                <span asp-validation-for="cityId" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Theme</label>
                                        <Select asp-for="themeId" class="form-control form-select">
                                            <option selected disabled>select Mission Theme</option>
                                            @foreach (var theme in Model.themes)
                                            {
                                                <option value="@theme.MissionThemeId">@theme.Title</option>
                                            }
                                        </Select>
                                                <span asp-validation-for="themeId" class="text-danger"></span>
                                    </div>



                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Mission Start Date</label>
                                        <input asp-for="startDate" type="datetime-local" class="form-control">
                                                <span asp-validation-for="startDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Mission end Date</label>
                                        <input asp-for="endDate" type="datetime-local" class="form-control">
                                                <span asp-validation-for="endDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Mission Availability</label>
                                        <Select asp-for="timeavailability" class="form-control form-select">
                                            <option selected disabled>select MIssion Availability</option>
                                            <option value="Daily">Daily</option>
                                            <option value="Weekly">Weekly</option>
                                            <option value="Monthly">Monthly</option>
                                        </Select>
                                                <span asp-validation-for="timeavailability" class="text-danger"></span>
                                    </div>

                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Mission Type</label>
                                        <Select asp-for="missionType" id="missionType" class="form-control form-select" onchange="goalchange()">
                                            <option selected disabled>select MIssion Type</option>
                                            <option value="Time">Time</option>
                                            <option value="Goal">Goal</option>
                                        </Select>
                                                <span asp-validation-for="missionType" class="text-danger"></span>
                                    </div>

                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <label>Total Seat</label>
                                        <input asp-for="totalseats" type="number" class="form-control pe-0">
                                                <span asp-validation-for="totalseats" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3" id="time">
                                        <label>Mission Registraion Deadline</label>
                                        <input asp-for="deadline" type="datetime-local" class="form-control">
                                                <span asp-validation-for="deadline" class="text-danger"></span>
                                    </div>

                                    <div class="row" id="goal">
                                        <div class="col-6 mb-3">

                                            <label>Goal Objective Text</label>
                                            <input asp-for="goalObjectiveText" type="text" class="form-control">
                                                    <span asp-validation-for="goalObjectiveText" class="text-danger"></span>
                                        </div>
                                        <div class="col-6 mb-3">

                                            <label>Goal Value</label>
                                            <input asp-for="goalValue" type="text" class="form-control">
                                                    <span asp-validation-for="goalValue" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class=" col-12 mb-3 ">
                                        <label>ADD Skills</label>

                                        <div class=" d-md-flex   mt-2">
                                            <select multiple style="height:300px;" id="s1" class="  px-0 col-12 col-md-5 ">
                                                @if (Model.MissionSkill == null)
                                                {
                                                    @foreach (var skills in Model.AllSkills)
                                                    {
                                                        <option value="@skills.SkillId">@skills.SkillName</option>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var skills in Model.RemainingSkills)
                                                    {
                                                        <option value="@skills.SkillId">@skills.SkillName</option>
                                                    }
                                                }

                                            </select>
                                            <div class="col-2 mt-5  px-2 d-md-block d-none flex-column ">
                                                <div class="mt-3 d-flex justify-content-center align-items-center ">

                                                    <i class="bi bi-chevron-right py-2  px-1 skillimg" id="t1 " onclick="ved1()"></i>
                                                </div>
                                                <div class="mt-1  d-flex justify-content-center align-items-center">

                                                    <i class="bi bi-chevron-left skillimg py-2  px-1" id="t2" onclick="ved2()"></i>

                                                </div>
                                                <div class="mt-1  d-flex justify-content-center align-items-center">

                                                    <i class="bi bi-chevron-double-right skillimg py-2  px-1" id="t3" onclick="ved3()"></i>
                                                </div>
                                                <div class="mt-1  d-flex justify-content-center align-items-center">

                                                    <i class="bi bi-chevron-double-left skillimg py-2 px-1 " id="t4" onclick="ved4()"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 my-2 d-flex justify-content-center  align-items-center d-block d-md-none   px-2">

                                                <i class="bi bi-chevron-down  p-2 skillimg" id="t1 " onclick="ved1()"></i>

                                                <i class="bi bi-chevron-up skillimg p-2 ms-2" id="t2" onclick="ved2()"></i>

                                                <i class="bi bi-chevron-double-down skillimg px-2 ms-2" id="t3" onclick="ved3()"></i>

                                                <i class="bi bi-chevron-double-up skillimg px-2 ms-2" id="t4" onclick="ved4()"></i>
                                            </div>

                                            <select multiple id="s2" style="height:300px;" class=" px-0 col-12 col-md-5 ">
                                                @if (Model.MissionSkill != null)
                                                {
                                                    @foreach (var skills in Model.MissionSkill)
                                                    {
                                                        <option value="@skills.SkillId">@skills.SkillName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label> Mission Video URL</label>

                                        <textarea asp-for="url" class="form-control"></textarea>
                                        <input type="hidden" id="selectedSkills" asp-for="selectedSkills" />
                                        <input type="hidden" id="missionId" asp-for="missionId" />
                                    </div>
                                    <div class="col-1bg-opacity-25 mb-3 ">
                                        <label>Choose Mission Docs</label>
                                        <div class="form-control w-100 p-1 fallback" style="height:40px;">
                                            <input name="file" type="file" multiple class="form-control w-100 h-100 " style="opacity:0;">
                                        </div>
                                        <div class="dz-message" onclick="showSave()" data-dz-message><span>Drag and drop files here or click to upload.</span></div>
                                        <div class="dropzone-previews">
                                            @if (Model.DocFiles != null)
                                            {
                                                @foreach (var img in Model.DocFiles)
                                                {
                                                    <div class="dz-preview dz-file-preview" id=@img.Name>
                                                        <div class="dz-image"><img data-dz-thumbnail=""></div>
                                                        <div class="dz-details">
                                                            <div class="dz-size"><span data-dz-size=""><strong>@(img.Length / 1000)</strong> KB</span></div>
                                                            <div class="dz-filename"><span data-dz-name="">@img.FileName</span></div>
                                                        </div>
                                                        <div class="dz-progress"> <span class="dz-upload" data-dz-uploadprogress=""></span> </div>
                                                        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                                        <div class="dz-success-mark">
                                                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <title>Check</title>
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF"></path>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <div class="dz-error-mark">
                                                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <title>Error</title>
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <g stroke="#747474" stroke-opacity="0.198794158" fill="#FFFFFF" fill-opacity="0.816519475">
                                                                        <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"></path>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <a class="dz-remove" href="javascript:undefined;" data-dz-remove onclick="removedoc(@img.Name)"><i class="bi bi-trash"></i></a>
                                                    </div>
                                                }
                                            }
                                            @if (Model.ImageFiles != null)
                                            {
                                                @foreach (var img in Model.ImageFiles)
                                                {
                                                    <div class="dz-preview dz-file-preview" id=@img.MissionMediaId>
                                                        <div class="dz-image"><img data-dz-thumbnail style="width:inherit;height:inherit" src=@img.MediaPath></div>
                                                        <div class="dz-details">
                                                            <div class="dz-size"><span data-dz-size=""><strong></strong> KB</span></div>
                                                            <div class="dz-filename"><span data-dz-name=""></span></div>
                                                        </div>
                                                        <div class="dz-progress"> <span class="dz-upload" data-dz-uploadprogress=""></span> </div>
                                                        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                                        <div class="dz-success-mark">
                                                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <title>Check</title>
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF"></path>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <div class="dz-error-mark">
                                                            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <title>Error</title>
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <g stroke="#747474" stroke-opacity="0.198794158" fill="#FFFFFF" fill-opacity="0.816519475">
                                                                        <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"></path>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <a class="dz-remove" href="javascript:undefined;" data-dz-remove onclick="removeimg(@img.MissionMediaId)"><i class="bi bi-trash"></i></a>
                                                    </div>
                                                }
                                            }


                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn closedbtn" data-bs-dismiss="modal" onclick="reload()">Close</button>
                            <button type="submit" class="btn savebtn" id="missionSave" style="display:none;" onclick="SaveSkills()">Save changes</button>
                            <button type="submit" class="btn savebtn" id="missionSave1" onclick="SaveSkills()">Save changes</button>
                        </div>

                    </form>
                </div>

            </div>
            <script>



                
                Dropzone.autoDiscover = false;

                $(document).ready(function () {
                    var myDropzone = new Dropzone("#my-awesome-dropzone", {
                        url: "AddMission",
                        paramName: "file", // The name that will be used to transfer the file
                        maxFilesize: 10, // MB
                        acceptedFiles: '.jpeg,.png,.jpg,.pdf,.docx,.xlxs',
                        addRemoveLinks: true,
                        parallelUploads: 5,
                        autoProcessQueue: false,
                        uploadMultiple: true,
                        dictRemoveFile: '<i class="bi bi-trash"></i>',
                        previewsContainer: '.dropzone-previews',
                        clickable: '.dz-message',

                    });
                    $('#missionSave').on('click', function (e) {
                        e.preventDefault();
                        myDropzone.processQueue();
                    });
                });
            </script>

        </div>

    </div>

    <table id="example" class="table" style="width:100%;border: 1px solid #e9ecef;">
        <thead class="thead-light" style="background-color:#F8F9FC;">
            <tr>
                <th scope="col">Mission Title</th>
                <th scope="col">Mission Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var mission in Model.missions)
            {
                <tr>
                    <th scope="row">@mission.Title</th>
                    <td>@mission.MissionType</td>
                    <td>@mission.StartDate</td>
                    <td>@mission.EndDate</td>
                    <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#AdminMissionmodal" onclick="editmission(@mission.MissionId)"></i> | <i class="fa fa-trash" onclick="deletemission(@mission.MissionId)" style="color:red"></i></td>
                </tr>
            }




        </tbody>
    </table>
    <script>

        function deletemission(missionId) {


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this Mission!",
                icon: 'warning',
                width: '300',
                height: '100',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Admin/DeleteMission',
                        type: 'POST',
                        data: { missionId: missionId },

                        success: function (response) {

                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your goalsheet has been deleted.',
                                'success'
                            )
                            $('#example').html($(response).find('#example').html());
                            location.reload();


                        },
                        error: function () {
                            alert("could not comment");
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',

                    )
                }
            })





        }
    </script>
      <script type="text/javascript">


    Dropzone.autoDiscover = false;

    $(document).ready(function () {
    var myDropzone = new Dropzone("#my-awesome-dropzone", {
    url: "",
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 10, // MB
    addRemoveLinks: true,
    parallelUploads: 5,
    autoProcessQueue: false,
    uploadMultiple: true,
    dictRemoveFile: '<i class="bi bi-trash"></i>',
    previewsContainer: '.dropzone-previews',
    clickable: '.dz-message',

    });
    $('#submit-form').on('click', function (e) {
    e.preventDefault();
    myDropzone.processQueue();
    });

    myDropzone.on('sendingmultiple', function () {
    // Add any additional data you want to send with the request
    var data = $('#my-awesome-dropzone').serializeArray();
    $.each(data, function (key, el) {
    myDropzone.options.params[el.name] = el.value;
    });
    });

    myDropzone.on('successmultiple', function (files, response) {
    // Do something when the upload is successful
    });
    });
    </script>
    <script src="~/js/AdminMission.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    @*  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <link href="~/css/Adminindex.css" rel="stylesheet" asp-append-version="true" />

</body>
</html>

@*@RenderBody()*@