@{
    Layout = "_AdminSidebar";
}

@model CI_Entity.ViewModel.AdminUserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    
    <style>


    </style>
</head>
<body>


    <div class="container-fluid mt-3">

        <div class="d-flex justify-content-between borderbottom">
            <h3 class="borderbotm mb-0">User</h3>
            <button onclick="onclickAdd()" class="btn mb-2 landing-page-apply-mission-btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                <i class="fa-regular fa-plus" style="color: #F88735"></i>
                Add
            </button>
        </div>



        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <form asp-action="AddUser" asp-controller="Admin" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">

                                <div class="row">
                                    <div class="d-flex flex-column align-items-center justify-content-center imdupperdiv py-1">
                                        <div class="user-profile-div" onclick="CLICK()" id="imgdiv">
                                            <input onchange="CHANGE(event)" type="file" style="display:none" id="imginput" />
                                            @if (@Model.avatar != "")
                                            {
                                                <img src="@Model.avatar" alt=""
                                                     class="rounded-circle user-profile-img " id="user-profile-img">
                                            }
                                            else
                                            {
                                                <img src="~/Images/user1.png"
                                                     class="rounded-circle user-profile-img" id="user-profile-img">
                                            }

                                            <i class="bi bi-plus-circle-fill addimgplus" height="25px" width="25px"></i>

                                        </div>
                                        <div class="user-username">
                                            @if (@Model.firstname == "")
                                            {

                                            }
                                            else
                                            {
                                                @(Model.firstname + " " + Model.lastname)
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div class="row mt-2 imdupperdiv py-2">
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="firstname" type="text" id="firstname" class="form-control" placeholder="First name">
                                        <span asp-validation-for="firstname" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="lastname" type="text" id="lastname" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="email" type="email" id="email" class="form-control" placeholder="Enter Email">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="password" type="password" id="password" class="form-control" placeholder="Enter Password">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="department" type="text" id="department" class="form-control" placeholder="Department">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <select asp-for="countryid" class="form-select" placeholder="Country">
                                            <option selected value="null">Select user country</option>
                                            @foreach (var country in Model.allcountry)
                                            {
                                                <option value="@country.CountryId"> @country.Name</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <select asp-for="cityid" class="form-select" id="cityid" placeholder="City">
                                            <option selected disabled value="null">Select user city</option>
                                            @foreach (var city in Model.allcity)
                                            {
                                                <option value="@city.CityId"> @city.Name</option>
                                            }



                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <select asp-for="status" class="form-select" id="status" placeholder="Status">
                                            <option selected disabled value="null">Select Your Availability</option>
                                            <option value="1"> Active</option>
                                            <option value="0"> In-Active</option>

                                        </select>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 mb-3">
                                        <input asp-for="employeeid" type="text" id="employeeid" class="form-control" placeholder="Employee Id">
                                    </div>
                                    <div class=" col-12 mb-3">
                                        <textarea asp-for="profiletext" id="profiletext" class="form-control" placeholder="Profile_Txt..."></textarea>
                                        <input asp-for="userId" id="userId" type="hidden" />
                                    </div>


                                </div>

                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" data-bs-dismiss="modal" class="btn closebtn">Close</button>
                            <button type="button" data-bs-dismiss="modal" class="btn savebtn" onclick="saveAdminUser()">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <table id="example" class="table" style="width:100%;border: 1px solid #e9ecef;">
            <thead class="thead-light" style="background-color:#F8F9FC;">
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var fn in Model.users)
                {

                    <tr>
                        <td scope="row">@fn.FirstName</td>
                        <td>@fn.LastName</td>
                        <td>@fn.Email</td>
                        <td>@fn.EmployeeId</td>
                        <td>@fn.Department</td>
                        @if (fn.Status == "1")
                        {
                            <td class="text-success">Active</td>
                        }
                        else
                        {
                            <td class="text-danger">In-Active</td>
                        }

                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" id="@fn.UserId" onclick="editAdminUser(this.id)"></i> | <i class="fa fa-trash" onclick="deleteuser(@fn.UserId)" style="color:red"></i></td>
                    </tr>


                }




            </tbody>
        </table>
    </div>

    <script>

        function deleteuser(userId) {


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this goalsheet!",
                icon: 'warning',
                width: '300',
                height: '100',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Admin/DeleteUser',
                        type: 'POST',
                        data: { userId: userId },

                        success: function (response) {

                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your goalsheet has been deleted.',
                                'success'
                            )
                            $('#example').html($(response).find('#example').html());
                            location.reload();


                        },
                        error: function () {
                            alert("could not comment");
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',

                    )
                }
            })





        }



        function onclickAdd() {
            document.getElementById("email").value = null;
            document.getElementById("password").value = null;
            document.getElementById("lastname").value = null;
            document.getElementById("firstname").value = null;
            document.getElementById("cityid").value = null;
            document.getElementById("countryid").value = null;
            document.getElementById("department").value = null;
            document.getElementById("status").value = null;
            document.getElementById("employeeid").value = null;
            document.getElementById("userId").value = null;
            document.getElementById("user-profile-img").src = "/Images/user1.png";
        }

        function CHANGE(event) {
            const reader = new FileReader(); // Create a new FileReader object
            reader.onload = function () {
                document.getElementById('user-profile-img').src = reader.result; // Set the source of the image tag to the selected image
            }
            reader.readAsDataURL(event.target.files[0]); // Read the selected file as a data URL
        }


        function editAdminUser(id) {
            $.ajax({
                url: '/Admin/Admin/GetUser',
                type: 'POST',
                data: {
                    userId: id
                },

                success: function (response) {

                    //document.getElementById("themeName").value = response.title;
                    $('#exampleModal1').html($(response).find('#exampleModal1').html());

                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Email already exists',
                        timer: 2500,
                    });
                }
            });
        }

        function saveAdminUser() {

            $.ajax({
                url: '/Admin/Admin/AddUser',
                type: 'POST',
                data: {
                    firstname: document.getElementById("firstname").value,
                    lastname: document.getElementById("lastname").value,
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value,
                    department: document.getElementById("department").value,
                    employeeid: document.getElementById("employeeid").value,
                    avatar: document.getElementById("user-profile-img").src,
                    cityid: document.getElementById("cityid").value,
                    countryid: document.getElementById("countryid").value,
                    status: document.getElementById("status").value,
                    profiletext: document.getElementById("profiletext").value,
                    userId: document.getElementById("userId").value
                },

                success: function (response) {

                    //document.getElementById("themeName").value = response.title;
                    $('#example').html($(response).find('#example').html());
                    location.reload();
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Email already exists',
                        timer: 2500,
                    })
                }
            });
        }

        function CLICK() {
            document.getElementById("imginput").click();
        }
    </script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <link href="~/css/Adminindex.css" rel="stylesheet" asp-append-version="true" />

</body>
</html>