@model CI.Models.UserprofileViewModel
@{
    Layout = "_navbar2";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="~/css/userprofile.css" asp-append-version="true" />
</head>

<body>

    <div class="container" style="margin-top:70px">
        <form asp-action="Userprofile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-12 col-md-3 col-lg-2 user-profile-left-div d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="user-profile-div " id="imgdiv">
                            <input type="file" asp-for="files" style="display:none" id="imginput" />
                            @if (@Model.avatar != "")
                            {
                                <img src="@Model.avatar" alt=""
                                     class="rounded-circle user-profile-img " id="user-profile-img">
                            }
                            else
                            {
                                <img src="~/images/user.png" alt=""
                                     class="rounded-circle user-profile-img" id="user-profile-img">
                            }

                            <i class="bi bi-plus-circle-fill addimgplus" height="25px" width="25px"></i>

                        </div>
                        <div class="user-username">@Model.firstname.ToUpperInvariant() @Model.lastname.ToUpperInvariant()</div>
                        <div class="">
                            @*   Button trigger modal*@
                            <div data-bs-toggle="modal" data-bs-target="#exampleChangePassModal">Change password</div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 col-lg-10">

                    <div class="mb-3">
                        <div class="user-edit-header-1">Basic Information</div>
                        <hr>

                        <div class="row">

                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">Name*</label>
                                <input type="text" asp-for="firstname" class="form-control" id="firstname" placeholder="Enter your name" onkeyup="firstname()"/>
                                <span class="text-danger" id="firstname1" style="display:none;"> First name is Requiered</span>
                            </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">Surname*</label>
                                <input type="text" asp-for="lastname" class="form-control" id="lastname" placeholder="Enter your surname" onkeyup="lastname()"/>
                            <span class="text-danger" id="lastname2" style="display:none;"> Lastname is Requiered</span>
                            </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">Employee ID</label>
                                <input type="text" class="form-control" asp-for="employeeid" id="" placeholder="Enter your employee id">
                            </div>


                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">Title</label>
                                <input type="text" class="form-control" asp-for="title" id="" placeholder="Enter a title">
                            </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">Department</label>
                                <input type="text" class="form-control" asp-for="department" id="" placeholder="Enter your department details">
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">My Profile*</label>
                                <textarea class="form-control" asp-for="myprofile" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your comments"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Why I Volunteer?</label>
                                <textarea class="form-control" asp-for="whyivolunteered" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your comments"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="user-edit-header-1">Adderss Information</div>
                        <hr>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">City</label>
                                <select class="form-select " asp-for="cityid" aria-label="Default select example" id="user-city">
                                    <option selected disabled>select your city</option>
                                    @foreach (var city in ViewBag.allcities)
                                    {
                                        <option value=@city.CityId>@city.Name</option>
                                    }


                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="exampleFormControlTextarea1" class="form-label">Country*</label>
                                <select class="form-select " asp-for="countryid" aria-label="Default select example" id="user-country">
                                    <option selected disabled>select your country</option>
                                    @foreach (var country in ViewBag.allcountry)
                                    {
                                        <option value=@country.CountryId>@country.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="user-edit-header-1">Professional Information</div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="exampleFormControlTextarea1" class="form-label">Availablity</label>
                                <select class="form-select " asp-for="availability" aria-label="Default select example" id="user-country">
                                    <option selected disabled>select your availablity</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="" class="form-label">LinkedIn</label>
                                <input type="text" class="form-control" asp-for="linkedinurl" id="" placeholder="Enter LinkedIn url">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="user-edit-header-1">My Skills</div>
                        <hr>
                        <div class="user-skill-list-div" id="userskilldiv">
                            <ul class="user-skills-list">
                                @if (ViewBag.userskills != null)
                                {
                                    @foreach (var item in ViewBag.userskills)
                                    {
                                        <li>@item.SkillName</li>
                                    }
                                }

                            </ul>
                        </div>
                        <button type="button" class="user-add-skills-btn " data-bs-toggle="modal" data-bs-target="#addskillmodal">
                            Add
                            Skills
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="addskillmodal" tabindex="-1" aria-labelledby="addskillmodalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="addskillmodalLabel">Add your skills</h1>
                                        <button type="button" class="border-0 bg-white" data-bs-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body ">
                                        <div class="container  p-0">
                                            <br />
                                            <div class="row d-flex m-0 p-0">
                                                <select multiple style="height:300px;" id="s1" class="  px-0 col-12 col-md-5 ">
                                                    @if (ViewBag.userskills != null)
                                                    {
                                                        @foreach (var it in ViewBag.remainingSkills)
                                                        {
                                                            <option value=@it.SkillId>@it.SkillName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @if (ViewBag.allskills != null)
                                                        {
                                                            @foreach (var i in ViewBag.allskills)
                                                            {
                                                                <option value=@i.SkillId>@i.SkillName</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                <div class="col-2 mt-5  px-2 d-md-block d-none flex-column ">
                                                    <div class="mt-3 d-flex justify-content-center align-items-center ">

                                                        <i class="bi bi-chevron-right py-2  px-1 skillimg" id="t1 " onclick="ved1()"></i>
                                                    </div>
                                                    <div class="mt-1  d-flex justify-content-center align-items-center">

                                                        <i class="bi bi-chevron-left skillimg py-2  px-1" id="t2" onclick="ved2()"></i>

                                                    </div>
                                                    <div class="mt-1  d-flex justify-content-center align-items-center">

                                                        <i class="bi bi-chevron-double-right skillimg py-2  px-1" id="t3" onclick="ved3()"></i>
                                                    </div>
                                                    <div class="mt-1  d-flex justify-content-center align-items-center">

                                                        <i class="bi bi-chevron-double-left skillimg py-2 px-1 " id="t4" onclick="ved4()"></i>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-2 d-flex justify-content-center  align-items-center d-block d-md-none   px-2">

                                                    <i class="bi bi-chevron-down  p-2 skillimg" id="t1 " onclick="ved1()"></i>

                                                    <i class="bi bi-chevron-up skillimg p-2 ms-2" id="t2" onclick="ved2()"></i>

                                                    <i class="bi bi-chevron-double-down skillimg px-2 ms-2" id="t3" onclick="ved3()"></i>

                                                    <i class="bi bi-chevron-double-up skillimg px-2 ms-2" id="t4" onclick="ved4()"></i>
                                                </div>

                                                <select multiple id="s2" style="height:300px;" class=" px-0 col-12 col-md-5 ">
                                                    @if (ViewBag.userskills != null)
                                                    {
                                                        @foreach (var it in ViewBag.userskills)
                                                        {
                                                            <option value=@it.SkillId>@it.SkillName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                        <button type="button" class="btn closebtn" id="close" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="button" id="skillSave" class="btn savebtn">Save Skills</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-5">
                        <button type="submit" class="user-profile-save-btn">Save</button>
                    </div>


                </div>
            </div>
        </form>
    </div>
    @*Modal*@
    <div class="modal fade" id="exampleChangePassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (ViewBag.samePas != null)
                    {
                        <h1>@ViewBag.samePas</h1>
                    }
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                    <button type="button" class=" bg-white border-0" data-bs-dismiss="modal" id="close1" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <span class="text-danger " style="display:none" id="oldpass" >Old Password Field is Requiered</span>
                    <input type="password" id="inputPassword1" class=" form-control  mb-3" aria-labelledby="passwordHelpBlock" placeholder="Enter old Password" onkeyup="errorfunction()">

                    <span class="text-danger " id="newpass" style="display:none" >Password Field is Requiered</span>
                    <span class="text-danger " id="newpass2" style="display:none">Password should contain atleast 8 charachter,Uppercase,lawercase and Special Character</span>
                   
                    <input type="password" id="inputPassword2" class=" form-control  mb-3" aria-labelledby="passwordHelpBlock" placeholder="Enter new Password" onkeyup="errorfunction2()">
                    <span class="text-danger " id="confirmpass" style="display:none">Confierm Password Field is Requiered</span>
                    <input type="password" id="inputPassword3" class="form-control  boxborder" aria-labelledby="passwordHelpBlock" placeholder="Enter confirm Password" onkeyup="errorfunction3()">
                </div>
                <div class="modal-footer">
                    <button type="button" class=" user-password-cancel-btn bg-white py-1 px-2" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class=" user-password-change-btn bg-white py-1" onclick="changepass()">
                        Change
                        Password
                    </button>
                </div>
            </div>
        </div>
    </div>
    @* Contact US Modal*@
    <div class="modal fade" id="ContactUS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                    <button type="button" class="border-0 bg-white" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
               <form asp-action="Contactus" asp-controller="Home" method="post">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-1 mb-2">
                                <label>Name</label>
                                <input disabled asp-for="firstname" type="text" class="form-control" />
                                <input  asp-for="firstname" type="hidden" class="form-control" />


                            </div>
                            <div class="col-12  mb-2">
                                <label>Email Address</label>
                                <input disabled asp-for=email type="Email" class="form-control" />
                                <input asp-for=email type="hidden" class="form-control" />

                            </div>
                              <div class="col-12  mb-2">
                                <label>Subject</label>
                                <input  type="text" asp-for=subject  id="subject1" class="form-control" onkeyup="Subjectemp()"/>
                                <span class="text-danger" style="display:none;" id="subject">Subject is requiered</span>

                            </div>
                            <div class="col-12  mb-2">
                                <label>Message</label>
                           
                                <input  type="text" asp-for="massage"  id="massage1" class="form-control" onkeyup="Messageemp()"/>
                                    <span class="text-danger"style="display:none" id="massage"> message is requiered</span>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebtn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn savebtn">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <hr>
    <div class="container user-profile-footer d-flex align-items-center mb-4">
        <a class="me-3 user-profile-privacy-policy" href="/Employee/Home/Privacypolicy/">Privacy Policy</a>
        <div class="user-profile-contact-us" data-bs-toggle="modal" data-bs-target="#ContactUS">Contact Us</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="~/js/Userprofile.js" asp-append-version="true"></script>

</body>

</html>
